body {
    background: #dde1e7;
}

.wrapper {
    margin: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px auto 100px;
    gap: 5px;
    min-height: 96vh;
    align-content: stretch;
    grid-template-areas: "header header header"
        "main main main"
        "footer footer footer";

    /* justify-content: space-evenly;
    align-content: space-evenly; */
    /* align-items: stretch; */
    padding: 10px;

    box-shadow: inset -3px -3px 7px #ffffff73,
        inset 3px 3px 5px rgba(94, 104, 121, .228);
}

.header {
    grid-area: header;
    background: #dde1e7;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #ffffff73,
        3px 3px 5px rgba(94, 104, 121, .228);
    display: grid;
}

.header_wrapper {
    margin: 5px;
    background: #dde1e7;
    border-radius: 5px;
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .228);
    display: grid;
    grid-template-columns: 1fr 10fr 1fr 1fr;
    gap: 5px;
}

.header_logo {
    align-items: center;
    justify-items: center;
    background: #dde1e7;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .228);
    display: grid;
    margin: 5px;
}

.header_nav {
    align-items: center;
    justify-items: center;
    background: #dde1e7;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .228);
    display: grid;
    margin: 5px;
}

.header_avatar {
    align-items: center;
    justify-items: center;
    background: #dde1e7;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .228);
    display: grid;
    margin: 5px;
}

.header_menu {
    align-items: center;
    justify-items: center;
    background: #dde1e7;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .228);
    display: grid;
    margin: 5px;
}

.main {
    grid-area: main;
    background: #dde1e7;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .228);
    display: grid;
    grid-template-areas: "lsb content rsb";
    grid-template-columns: minmax(40px, 120px) 1fr minmax(40px, 120px);
}

.left_side_bar {
    grid-area: lsb;
    margin: 5px;
    background: #dde1e7;
    border-radius: 5px;
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .228);
    display: grid;
    grid-template-rows: 40px 1fr repeat(auto-fill, 1fr);
    gap: 5px;
}

.lsb_first_block {
    align-items: center;
    justify-items: center;
    background: #dde1e7;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .228);
    display: grid;
    margin: 5px;
}

.lsb_nav {
    background: #dde1e7;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .228);
    display: grid;
    align-content: start;
    gap: 5px;
    margin: 5px;
}

.lsb_nav_button {
    align-items: center;
    justify-items: center;
    background: #dde1e7;
    height: 20px;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .228);
    display: grid;
    margin: 5px;
}

.lsb_nav_button:hover {
    align-items: center;
    justify-items: center;
    background: #dde1e7;
    height: 20px;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .628);
    display: grid;
    margin: 5px;
    cursor: pointer;
}

.lsb_nav_button:active {
    align-items: center;
    justify-items: center;
    background: #dde1e7;
    height: 20px;
    border-radius: 5px;
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .228);
    display: grid;
    margin: 5px;
}

.center_content {
    grid-area: content;
    margin: 5px;
    background: #dde1e7;
    border-radius: 5px;
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .228);
    display: grid;
    gap: 10px;
}

.right_side_bar {
    background: #dde1e7;
    margin: 5px;
    border-radius: 5px;
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .228);
    display: grid;
    grid-template-rows: 40px 1fr repeat(auto-fill, 1fr);
    gap: 5px;
}

.rsb_first_block {
    align-items: center;
    justify-items: center;
    background: #dde1e7;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .228);
    display: grid;
    margin: 5px;
}

.rsb_nav {
    background: #dde1e7;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .228);
    display: grid;
    align-content: start;
    gap: 5px;
    margin: 5px;
}

.rsb_nav_button {
    align-items: center;
    justify-items: center;
    background: #dde1e7;
    height: 20px;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .228);
    display: grid;
    margin: 5px;
}

.footer {
    grid-area: footer;
    background: #dde1e7;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .228);
    display: grid;
}

.footer_wrapper {
    margin: 5px;
    background: #dde1e7;
    border-radius: 5px;
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .228);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1px;
}

.footer_block {
    align-items: center;
    justify-items: center;
    background: #dde1e7;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .228);
    display: grid;
    margin: 5px;
}

.footer_nav {
    align-items: center;
    justify-items: center;
    background: #dde1e7;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .228);
    display: grid;
    margin: 5px;
}

.footer_avatar {
    align-items: center;
    justify-items: center;
    background: #dde1e7;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .228);
    display: grid;
    margin: 5px;
}

.footer_menu {
    align-items: center;
    justify-items: center;
    background: #dde1e7;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .228);
    display: grid;
    margin: 5px;
}